.user_info{
    margin: auto;
    width: 60%;
}
.profile_info
{
    border-bottom: 2px solid #77c0c7;
}
.description_info{
    border-bottom: 2px solid #77c0c7;
    padding-bottom: 20px;
}
.desc_name,.desc_email,.desc_telephone{
    margin-bottom: 20px;
}
.desc_name label{
    padding-right: 35px;
}
.desc_email label{
    padding-right: 22px;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}