<!DOCTYPE html>
<html lang="ru">
  <title>Pet Search Service</title>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/templates/style/wh_questions.css">
    <link rel="stylesheet" href="/templates/style/font-awesome-4.7.0/css/font-awesome.min.css">
    <script defer src="/templates/js/btns.js"></script>
  </head>
  <body>
    <div class="menu" >
      <div class="menu_wrapper">
        <div class="menu_wrapper1">
      <a href="/templates/html/wH.html">Закрыть<i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
  </div>
    </div>
    <div class="top_info">
      <div class="top_info_wrapper">
        <div class="top_info_wrapper1">
      <h1>Пропал питомец</h1>
      <a href="">Главная / </a>
      <a href="">Новое объявление / </a>
      <p>Пропал питомец</p>
      <div class="progress_line">
        <div class="progress_line_bg">
        </div>
      </div>
      <div class="question">
        <h1>1/5: Кто пропал?</h1>
        <p>Укажите вид и пол вашего питомца</p>
        <div class="qus">
          <div class="qu1">
            <p>Вид питомца</p><br>
            <button id="q1_btn1" onclick="btnClick(this)">Собака</button>
            <button id="q1_btn2" onclick="btnClick(this)">Кошка</button>
          </div>
          <div class="qu2">
            <p>Пол питомца</p><br>
            <button id="q2_btn1" onclick="btnClick(this)">Мальчик</button>
            <button id="q2_btn2" onclick="btnClick(this)">Девочка</button><br>
          </div>
        </div>
        <button class="btn_next" id="btn_next">Далее</button>
      </div>
    </div>
    </div>
    </div>
  
  </body>
</html>