<!DOCTYPE html>
<html lang="ru">
  <title>Pet Search Service</title>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" name="viewport">
    <link rel="stylesheet" href="/style/wh_questions.css">
    <link rel="stylesheet" href="/style/font-awesome-4.7.0/css/font-awesome.min.css">
    <script defer src="/js/btns_form3.js"></script>
</head>
  <body>
    <div class="menu" >
      <div class="menu_wrapper">
        <div class="back_wrapper">  
        <a onclick="javascript:history.back(); return false;"><i class="fa fa-reply" aria-hidden="true"></i>Назад</a>
        </div>
        <div class="menu_wrapper1">
      <a href="/MainWindow/CreateAd">Закрыть</a>
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
    </div>
    <div class="top_info">
      <div class="top_info_wrapper">
        <div class="top_info_wrapper1">
          <h1 id="wh" th:text="${wh}+' питомец'"></h1>
      <a href="">Главная / </a>
      <a href="">Новое объявление / </a>
          <p th:text="${wh}+' питомец'"></p>
      <div class="progress_line">
        <div class="progress_line_bg bg2">
        </div>
      </div>
      <div class="question">
        <h1>3/5: Время и место</h1>
        <p th:text="${wh}+' питомец'"></p>
        <div class="qus">

            <form class="form_step_3">
              <div class="qu1">
              <p>Укажите дату и время</p>
              <br>
            <input type="datetime-local" id="date" name="datelost" value="2023-02-11T08:30">
              <br>
              </div>
              <div class="qu2">
              <p>Укажите место</p>
              <br>
              <input class="label_q2" type="text" id="place" name="datelost" value="Ул.Орбитальная, г. Ростов-на-Дону">
                </div>
            </form>

        </div>

        <button class="btn_next" id="btn_next2">Далее</button>
      </div>
    </div>
    </div>
    </div>
  
  </body>
</html>